body {
  margin: 0;
  padding: 0;
}

/* SideBar & NavBar Layout */
.sideBar {
  background-color: rgba(248, 243, 243, 0.9);
  height: 100vh;
  left: 0;
  top: 0;
}
.sidebar-hidden{
    display: none;
    transition: 5s ease-in-out;
}
.content-hidden{
    width: 100%;
}
.animate__slideOutLeft {

  }
  
  .animate__fadeIn {
    
  }
.navBar {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 8px 0 8px 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.content {
  background-color: #dee2e6;
}
.ns-row {
  margin: 0;
  width: 100%;
}
.container-fluid {
  padding: 0;
}

/* End of SideBar and NavBar layout */

/* NavBar */
.icon {
  font-size: 30px;
  margin-right: 1rem;
}
.right-icon {
  color: gray;
  font-size: 20px;
  margin-right: 3rem;
  margin-bottom: 5px;
  
}
.right-icons {
  display: flex;
  margin-left: auto;
}
.profile
{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin-right: 3rem;
    margin-bottom: 5px;
}
.menu-button{
    background: none;
    border: none;
}

