body {
  margin: 0;
  padding: 0;
}

/* Main Component */
.wrapper {
  display: flex;
}
/* End of Main Component */

/* SideBar */
.sideBar {
  width: 70px;
  background-color: #fff;
  color: #000;
  transition: width 0.4s ease;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.sidebarMinimized {
  width: 20%;
  transition: width 0.4s ease;
  height: 100vh;
  background-color: #fff;
  color: #000;
  position: fixed;
  top: 0;
  left: 0;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sideBar {
    display: none;
  }
  .sidebarMinimized {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .sideBar {
    display: none;
  }
  .sidebarMinimized {
    display: none;
  }
}
.sideBarLogo {
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #6527be;
  font-family: "Poppins", sans-serif;
}
.sideBarItems {
  display: flex;
  align-items: center;
  font-size: 1rem;
  background-color: #fff;
  margin-top: 8px;
}
.sideBarContainer {
  background-color: #fff;
}
.iconSideBar {
  color: #6527be;
  font-size: 23px;
}
.iconSideBarItem {
  color: #6527be;
  font-size: 23px;
}
.sideComponents {
  text-decoration: none;
  font-size: 15px;
  color: #686868;
  font-family: "Poppins", sans-serif;
}
.sideComponents:hover {
  transform: scale(1.1);
}
.toggleSidebar {
  cursor: pointer;
  border: none;
  padding: 10px;
  color: #fff;
  margin: 5px 15px;
  background: none;
  background-color: none;
}
.toggleSidebar:hover {
  background-color: #f8f8f8;
  border-radius: 100%;
  transition: 0.4s ease, background-color 0.3s ease;
}
.toggleSidebarItems {
  background-color: #dee2e6;
  border-radius: 100%;
}

.profile {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  margin-bottom: 5px;
}
/* End of SideBar */

/* NavBar Component */
.navWrapper {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  left: 0;
  bottom: 0;
  z-index: 1000;
  position: fixed;
  width: 100%;
  background-color: #fff;
}
@media screen and (min-width: 1025px) {
  .navWrapper {
    display: none;
    position: fixed;
  }
}
/* End of NavBar Component */

/* Content Component */
.content {
  flex: 1;
  background-color: #f8f8f8;
  margin-left: 80px;
}

.mainContent {
  background-color: #f8f8f8;
  height: auto;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .mainContent {
    height: auto;
    margin-bottom: 85px;
    background-color: #f8f8f8;
  }
  .contentContainer {
    width: 100%;
  }
  .contentContainerAnim {
    width: 100%;
  }
  .dateTransc,
  .reasonTransc,
  .nameTransc {
    display: none;
  }
  .content {
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .mainContent {
    height: auto;
    margin-bottom: 85px;
    background-color: #f8f8f8;
    padding-top: 20px;
  }
  .contentContainer {
    width: 100%;
  }

  .contentContainerAnim {
    width: 100%;
  }
  .dateTransc,
  .reasonTransc,
  .nameTransc {
    display: none;
  }
  .content {
    margin-left: 0;
  }
}

.numericStatsParent {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: left;
  flex-wrap: wrap;
  flex-basis: 100px;
}
.numericStatsChild {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}
.contentContainer {
  padding: 35px;
  background-color: #fff;
  margin-top: 45px;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 20px;
  border-radius: 15px;
}
.contentContainer:hover {
  border: 1px solid #6527be;
}
.stat {
  margin-left: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #686868;
}
.statIconRent,
.statIconUnitsO,
.statIconUnitsV,
.statIconTenant {
  font-size: 18px;
  border-radius: 100%;
  padding: 9px;
  height: 40px;
  width: 40px;
  color: white;
}

.statIconRent {
  background-color: #45cfdd;
}
.statIconUnitsO {
  background-color: #6527be;
}
.statIconTenant {
  background-color: #9681eb;
}
.statIconUnitsV {
  background-color: #a7ede7;
}
.statName {
  margin-right: 45px;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
  color: #6527be;
}
.recentlyTable {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
}
.recentlyTableChild {
  background-color: #fff;
  border-radius: 5px;
  margin-left: 30px;
  padding: 17px;
  margin-bottom: 20px;
}

#recentlyRegistered th {
  font-family: "Poppins", sans-serif;
  color: #6527be;
  padding: 10px;
}
#recentlyRegistered td {
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #686868;
}
.dateTable {
  background-color: #45cfdd;
  padding: 5px;
  color: #fff;
  border-radius: 19px;
  font-size: 14px;
}
.tableHeading {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin-left: 12px;
  color: #686868;
}

#recentlyRegistered tr:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.adminHeading {
  font-family: "Poppins", sans-serif;
  font-size: 23px;
  margin-top: 20px;
  color: #686868;
  margin-left: 10px;
}
.admin {
  width: 50%;
  display: flex;
  flex: 1;
  margin-left: 30px;
}
.statusTransc {
  background-color: #858585;
  padding: 5px;
  color: #fff;
  border-radius: 19px;
  font-size: 14px;
}
.tableBtn {
  float: right;
  color: #fff;
  background-color: #9681eb;
  border: none;
  border-radius: 6px;
  padding: 6px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
.tableBtn:hover {
  background-color: #6527be;
  transition: 0.3s ease-in-out;
}
.tableContainer {
  display: flex;
  justify-content: space-between;
}
/* End of Content Component */

/* Complaints Sections */
.complaintSParent {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 20px 20px;
  border-radius: 19px;
  background-color: #fff;
  padding: 40px;
}
.complaintsChild {
  display: flex;
  font-family: "Poppins", sans-serif;
}
.complaint {
  float: right;
  margin-left: 38px;
  font-size: 14px;
  color: #686868;
  padding-top: 20px;
  text-align: justify;
}
.profileComplaint {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin-bottom: 5px;
  margin-top: 20px;
}
.complaintHeading {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin-left: 12px;
  color: #6527be;
}
.complaintTimeContainer {
  display: flex;
  margin-bottom: 20px;
}
.complaintTime {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-left: 70px;
  color: #ccc;
  margin-right: 10px;
  margin-top: 8px;
}
.complaintBtn {
  color: #fff;
  background-color: #9681eb;
  border: none;
  border-radius: 6px;
  padding: 6px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
.complaintBtn:hover {
  background-color: #6527be;
  transition: 0.3s ease-in-out;
}
.complaintContent:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
/* End of complaints section */

/* Error Page */
#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* End of ErrorPage */
